<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/cat.png" alt="Logo marcar com rosto de um gato" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-4">
          <a class="nav-link" href="/logout">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>