<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InstaCats</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cardPhoto.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/assets/img/cat.png" type="image/x-icon">
  </head>
  <body>
    {{#if session.userId}}
        {{> navbarLogado}}
    {{else}}
        {{> navbar}}
    {{/if}}

    {{#if messages.message}}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{messages.message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {{/if}}

    {{{ body }}}

    {{> cardPhoto}}

    {{> footer}}
   
   <script src="/js/bootstrap.min.js"></script>
  </body>
</html>